report.aux
report.bbl
report.blg
report.dvi
report.log
report.pdf
proposal.aux
proposal.bbl
proposal.blg
proposal.dvi
proposal.log
proposal.pdf

/build/
*.class
*.pdf

# SBT

/project/
!/project/plugins.sbt
/target/

# Gradle

/.gradle/

# Eclipse

/.classpath
/.project
/.pydevproject
/.settings/
/bin/
